@using Swim.Models
@model LoginInfoModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", new { value = ViewBag.ReturnUrl })
            <h4>會員登入</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.UserId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LoginPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.LoginPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-default" />
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <p>
            @Html.ActionLink("加入會員", "Register")
        </p>
    </div>
</div>